<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icon_study_publication</string>
		<key>title</key>
		<string>刊物</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_study_kaoyan</string>
		<key>title</key>
		<string>考研</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_study_liuxue</string>
		<key>title</key>
		<string>留学</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_study_match</string>
		<key>title</key>
		<string>比赛</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_study_kaozheng</string>
		<key>title</key>
		<string>考证</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_study_computer</string>
		<key>title</key>
		<string>计算机</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_study_cet</string>
		<key>title</key>
		<string>大学46级</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_study_paperinc</string>
		<key>title</key>
		<string>论文指导</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_study_homework</string>
		<key>title</key>
		<string>作业指导</string>
	</dict>
</array>
</plist>
